:root{
    --bg-color: #272b23; 
    --g-selected-text:#14fe17;
    --g-non-selected-text: #107c12;
    --b-selected-text:#14cffe;
    --b-non-selected-text:#1789b6;
    --w-selected-text:#ffffff;
    --w-non-selected-text:#ff00c8;
 
    --y-selected-text:#d714fe;
    --y-non-selected-text:#00e1ff;
}
*{
    margin: 0;
    padding: 0;
    
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
body{
    font-family: 'Teko', sans-serif;
    background-color: var(--bg-color);
    color:var(--y-non-selected-text);
    overflow: hidden;    
}
body::after{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 15000;
    top: 0;
    background-size: 4px;
    pointer-events: none;
    background: 
        repeating-linear-gradient(0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.4) 1px, 
        transparent 1px,
        transparent 2px);
        opacity: .4;
}
img{
    width: 300px;
}
.background img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -20;
}
.bg-overlay{
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -19;
}
/* NAVIGATION  */
.nav-bar ul{
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    
}
.nav-bar li{
    
    display: grid;
    grid-template-columns:repeat(auto-fit, 100px) ;
    justify-content: center;
    justify-items: center;
    padding: 0px 40px;
    margin-top: 15px;
    font-size: 40px;
    color: var(--y-non-selected-text);  
    cursor: pointer;   
   
}

.nav-bar li:hover{
    color:var(--y-selected-text);
   
}



.content-card{
    
    border-left: 3px solid  var(--y-selected-text);
    border-right: 3px solid var(--y-selected-text);
    width: 70%;
    position: absolute;
    left: 17%;
    top: 150px;
    -webkit-box-shadow: inset 200px 21px 194px 20px #12a6c03b;
    -moz-box-shadow: inset 200px 21px 194px 20px #c012b73b;
    box-shadow: inset 200px 21px 194px 20px #12c0953b;
}
.content-card::before {
    content: ' ';
    position: absolute;
    display: block;
    z-index:100;
    background: var(--y-selected-text);
    top: 0px;
    left: 0px;
}
.content-card::after{
    content: ' ';
    position: absolute;
    display: block;
    z-index: 100;
    background: var(--y-selected-text);
    top: 0px;
    right: 0px;
}
.greetings-title {
    padding: 160px 10px 160px 60px;
    position: relative;
    line-height: 70px;
    text-align: left;
    font-size: 60px;
    letter-spacing: 2px;
    z-index: 1000;
}
.greetings-title span{
    color: var(--y-selected-text);
}

.greetings{
    background: url(./gifs/tumblr_oezv38ikwg1sznfdio1_500.gif);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.greetings::before{
    background-color: black;
    width: 100%;
    height: 100%;
    opacity: .7;
}
/* ABOUT  */
.about-content-card{
    border-left: 3px solid  var(--y-selected-text);
    border-right: 3px solid var(--y-selected-text);
    width: 70%;
    position: absolute;
    left: 15%;
    margin-top: 120px;
    -webkit-box-shadow: inset 200px 21px 194px 20px #12a6c03b;
    -moz-box-shadow: inset 200px 21px 194px 20px #c012b73b;
    box-shadow: inset 200px 21px 194px 20px #12c0953b;
}
.about-content-card::before {
    content: ' ';
    position: absolute;
    display: block;
    z-index:100;
    background: var(--y-selected-text);
    top: 0px;
    left: 0px;
}
.about-content-card::after{
    content: ' ';
    position: absolute;
    display: block;
    z-index: 100;
    background: var(--y-selected-text);
    top: 0px;
    right: 0px;
}
.about-section{
    background: url(./gifs/about.gif);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
}
.about-section::before{
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 100%;
    opacity: .6;
    z-index: -1;
}
.about-content{
    padding: 10px 10px 30px 60px;
    z-index: 100;
}
.about-title h1{
    font-size: 60px;
}
.about-text p{
    font-size: 20px;
    letter-spacing: 1px;  
}
.about-text i{
    font-size: 30px;
}
/* WORK  */

.work-content-card{
    border-left: 3px solid  var(--y-selected-text);
    border-right: 3px solid var(--y-selected-text);
    width: 70%;
    text-align: center;
    margin: 0 auto;
    margin-top: 130px;
    -webkit-box-shadow: inset 200px 21px 194px 20px #12a6c03b;
    -moz-box-shadow: inset 200px 21px 194px 20px #c012b73b;
    box-shadow: inset 200px 21px 194px 20px #12c0953b;
    
}

.work-content-card::after{
    content: ' ';
    position: absolute;
    display: block;
    z-index: 100;
    background: var(--y-selected-text);
    top: 0px;
    right: 0px;
}
.work-gallery{
    padding:30px 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    justify-content: space-evenly;
}
.work-project-card{
   display: grid;
  
}
.work-project-card-title{
    font-size: 30px;
    padding: 20px 0 10px 0;
    letter-spacing: 1px;
    font-weight: 100;
    color: white;
    cursor: pointer;
}
.qr-card{
   width: 150px;
    
}
.workPic{
    width: 300px;
    height: 150px;
}
.mobile{
    display: flex;
    justify-content: center;
    font-size: 30px;
    padding: 10px 40px;
    cursor: pointer;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.26), rgba(0, 195, 255, 0.26) , rgba(204, 0, 255, 0.397), rgba(0, 195, 255, 0.26), rgba(0, 0, 0, 0.26));
    
}
.button-project {
    border: 1px solid var(--b-non-selected-text);
    display: inline-block;
    padding: 10px 40px;
    letter-spacing: 1px;
    cursor: pointer;
    color: var(--y-non-selected-text);
}
.button-project:hover{
    background-color: var(--b-selected-text);
    color: var(--bg-color);
    transition: all 1.5s;
}
/* SKILLS  */
 
.skills-content-card{
    border-left: 3px solid  var(--y-selected-text);
    border-right: 3px solid var(--y-selected-text);
    width: 70%;
    position: absolute;
    left: 17%;
    top: 150px;
    -webkit-box-shadow: inset 200px 21px 194px 20px #12a6c03b;
    -moz-box-shadow: inset 200px 21px 194px 20px #c012b73b;
    box-shadow: inset 200px 21px 194px 20px #12c0953b;
}
.skills-content-card::before {
    content: ' ';
    position: absolute;
    display: block;
    z-index:100;
    background: var(--y-selected-text);
    top: 0px;
    left: 0px;
}
.skills-content-card::after{

    content: ' ';
    position: absolute;
    display: block;
    z-index: 100;
    background: var(--y-selected-text);
    top: 0px;
    right: 0px;
}
.skills-content{
    padding: 160px 0px 160px 50px  ;
    letter-spacing: 1px;
}
.skills-title h1{
    font-size: 60px;   
}
.skills-text{
    font-size: 25px;
}
/* CONTACT  */
/* FOOTER  */
.footer{
    width: 100%;
    position: absolute;
    bottom: 0; 
    z-index: -1;
}
/* CONTACT BAR */
.letsTalk{
    text-align: center;
    position: relative;;
    width: 100px;
    bottom: -10px;
    left: 0px;
    cursor: pointer;
    z-index: 1;
   
}
.phone-contact{
    display: grid;
    position: relative;;
    width: 100px;
    bottom: 10px;
    cursor: pointer;
    z-index: 1;
}


.letsTalk-icon{
    font-size: 30px;
    color: var(--w-non-selected-text);
    animation: letsTalk1 .5s infinite alternate;
}
@keyframes letsTalk1 {
    form{
       color: var(--w-non-selected-text);
      
    }
    to{
        color: rgba(252, 0, 252, 0.295);
    }
}
.letsTalk h1{
    font-weight: 100;
    font-size: 30px;
    border-left:3px solid var(--w-non-selected-text);
    border-right:3px solid var(--w-non-selected-text);
    background-image: linear-gradient(to right, rgba(0, 195, 255, 0.26) , rgba(204, 0, 255, 0.397));
    animation: letsTalk2 .5s infinite alternate;
}
@keyframes letsTalk2 {
    form{
       color: var(--w-non-selected-text);
    }
    to{
        color: rgba(252, 0, 252, 0.295);
    }
}
.settings-green{
    color:var(--g-selected-text);
}

.settings-blue{
    color:var(--b-selected-text);
}
.settings-yellow{
    color:var(--y-selected-text);
}
.settings-pink{
    color:var(--w-selected-text);
}
.interface-settings{
    position: fixed;
    bottom: 15px;
    left: -400px;
}
.interface-settings ul{
    display: flex;
}
.interface-settings li{
    padding: 20px;
}
.interface-settings i{
    font-size: 40px;
    padding-top:30px ;
}
.sound-settings{
    position: fixed;
    top: 20px;
    left: 20px;
    cursor: pointer;
    z-index: 10000;
}
.sound-settings i {
    font-size: 20px;
    
}


@media screen and (max-width: 1390px) {
    .content-card{
        top: 90px;
        height: 500px;
    }
    .greetings-title{
        font-size: 45px;
    }
    .about-content{
        height: 450px;
        overflow-Y: scroll;
    }
    .about-content-card{
        margin-top: 90px;

    }
    .work-gallery{
        overflow-y: scroll;   
        height: 400px;
       
    }
    .work-content-card{
        margin-top: 90px;
    }
    .phone-contact{
        width: 90px;
    }
    .letsTalk{
        width: 90px;
    }
    
    .letsTalk h1{
        font-size: 20px;
    }
    .skills-content{
        top: 100px;
        padding: 60px 0 60px 100px;
    }
    
}



 
 @media screen and (max-width: 1200px){
    .content-card{
    top: 120px;
    }
    .greetings-title{
        font-size: 45px;
        line-height: 55px;
    }
    .about-content-card{
        margin-top: 120px; 
    }
    .about-content{
      overflow-y: scroll;   
      height: 550px;
    }
    .work-gallery{
      overflow-y: scroll;   
      height: 500px;
    }
    

 }






@media screen and (max-width: 1015px){
    .about-content{
        overflow-y: scroll;   
        height: 550px;
      }
      .phone-contact{
          width: 100px;
      }
      .letsTalk {
          width: 110px;
         
      }
      .letsTalk h1{
          font-size: 15px;
      }
      .work-gallery{
        overflow-y: scroll;   
        height: 500px;
      }

 }
 @media screen and (max-width: 786px){
    .about-content{
        overflow-y: scroll;   
        height: 300px;
      }
      .phone-contact{
          width: 100px;
      }
      .letsTalk {
          width: 110px;
         
      }
      .letsTalk h1{
          font-size: 25px;
      }
      .work-gallery{
        overflow-y: scroll;   
        height: 500px;
      }

 }
 @media screen and (max-width: 660px){
    .about-content{
        overflow-y: scroll;   
        height: 200px;
      }
      .phone-contact{
          width: 100px;
      }
      .letsTalk {
          width: 110px;
         
      }
      .letsTalk h1{
          font-size: 25px;
      }
      .work-gallery{
        overflow-y: scroll;   
        height: 500px;
      }
      .nav-bar li{
          padding: 0 20px;
      }

 }
 @media screen and (max-width: 400px){
    .about-content{
        overflow-y: scroll;   
        height: 450px;
        padding: 10px;
      }
      .phone-contact{
          display: none;
      }
      .letsTalk {
          display: none;
         
      }
      .work-gallery{
        overflow-y: scroll;   
        height: 350px;
        
      }
      .nav-bar li{
          padding: 0;
          font-size:12px;

      }
      .skills-text{
          font-size: 13px;
      }
      .skills-content{
          padding: 20px 0 20px 20px;
      }
      .greetings-title{
          padding: 50px 10px 50px 10px;
      }
      .content-card{
          top: 60px;
      }
      .about-content-card{
        top: 10px;
      }
      .work-content-card{
          top: 30px;
      }
      .sound-settings{
         top:unset;
         bottom: 20px;
        
      }
          
      
 }



 .tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
   
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-image: linear-gradient(to top, rgba(0, 57, 104, 0.658) , var(--bg-color));
    color: var(--w-selected-text);
    text-align: center;
    border-top: 2px solid var(--w-non-selected-text);
    border-bottom: 2px solid var(--w-non-selected-text);
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 80px;
    left: 100px;
    margin-left: -60px;
    font-size: 17px;
    
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
} 